@()

@main {
    <p>
        The calculations are done according to the "half your age plus seven" or "divide by 2 add 7" rule and are purely meant for
        recreational purposes, whatever country you are in has its own rules and laws and traditions for this sort of
        stuff so follow them!
    </p>

    <p>Literature on the subject:
    <ul class="list-unstyled">
    <li><a href="http://en.wikipedia.org/wiki/Age_disparity_in_sexual_relationships#The_.22half-your-age-plus-seven.22_rule">Wikipedia</a></li>
    <li><a href="http://xkcd.com/314/">XKCD</a></li>
    <li><a href="http://www.urbandictionary.com/define.php?term=Half%20plus%20seven">Urban Dictionary</a></li>
    </ul>
    </p>
}